<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Cinema<br>Ironhack</title>
  <link rel="stylesheet" href="./stylesheets/style.css" <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class='flex-container'>
    <h1>Cinema<br>Ironhack</h1>
    <a href="./models/Movie.js">
      <button>Check the movies!</button>
    </a>
  </div>
  <div style="background-image: url('../images/cinema.jpg');"></div>
</body>

</html>